.col-auto {
    display: block;
}
.col-form-label {
    display: inline-block;
    width: 100px;
}
.form-control-plaintext {
    display: inline-block;
    width: auto;
}

#sctTechnologyInfos, #sctLibrairiesInfos, #sctCookiesInfos {
    display: none;
}

#sctTechnologyInfos th:nth-child(4), #sctTechnologyInfos th:nth-child(5) {
    width: 150px;
}

#sctCookiesInfos th {
    margin-left: 10px;
    margin-right: 10px;
}